# Limpeza da Tabela 5:
## BaseDados_ProjetoINTELI_RG_31JUL24



Importando as bibliotecas necessárias para a limpeza

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Importando a tabela do banco de dados no notebook

In [ ]:
tabela_5 = pd.read_excel("BaseDados_ProjetoINTELI_RG_31JUL24.xlsx")

Vamos começar fazendo a estatística descritiva básica das colunas, separando elas em númericas e categóricas, com o seguinte comando abaixo

In [ ]:
colunas_categoricas = tabela_5.select_dtypes(include='object').columns
colunas_numericas = tabela_5.drop(colunas_categoricas, axis=1).columns

print(f'Há {len(colunas_categoricas)} Colunas Categóricas: {list(colunas_categoricas)}')
print(f'Há {len(colunas_numericas)} Colunas Numéricas: {list(colunas_numericas)}')

Assim, as colunas categóricas são:
 - UEN
 - Veiculo
 - Cliente
 - Origem
 - Segmento
 - Setor

E as colunas numéricas são:
 - ano
 - Mês
 - VL Tabela
 - Desconto R$
 - Desc %
 - Vl Bruto
 - Vl Liquido Final

Após isso, vamos inciar a limpeza dos dados primeiramente procurando dados que estão ``null``, com os seguinte comando abaixo:

In [ ]:
tabela_5.isnull().sum()

Conforme a tabela acima vimos que tem apenas dois dados que estão como ``null``, vamos agora visualizar essas linhas de código que estão como ``null``

In [ ]:
tabela_5[tabela_5.isnull().any(axis=1)]

Após a análise vimos que podemos substituir esses ``null`` por '``OUTROS``', assim rodamos este código para isso

In [ ]:
tabela_5["Setor"] = tabela_5["Setor"].replace(np.nan, 'OUTROS')

Agora vamos confirmar se os dados que estão como null foram alterados rotando o código que vemos quantos dados null temos na base

In [ ]:
tabela_5.isnull().sum()

Então para seguir o processo de limpeza vamos padronizar algumas coisas nas colunas, primeiramente vamos deixar todos as palavras em maiúsculas

In [ ]:
tabela_5[colunas_categoricas] = tabela_5[colunas_categoricas].apply(lambda x: x.str.upper())

E também vamos deixar as colunas numéricas com 3 algarismos significativos após a vírgula, exceto as colunas de data

In [ ]:
colunas_numericas_sem_data = colunas_numericas.difference(['ano', 'Mês'])
for coluna in colunas_numericas_sem_data:
  tabela_5[coluna] = tabela_5[coluna].round(3)

In [ ]:
tabela_5.head()

Dessa forma, gero um novo arquivo excel com os dados limpos

In [ ]:
tabela_5.to_csv('/dadosTratados/tratada_BaseDados_ProjetoINTELI_RG_31JUL24.csv', index=False)